.webgpu-body {
    height: 91vh;
    width: 100%;
}

#webGPUCanvas {
    border: solid red 1px;
}

.webgl-component-container,
.canvas-component-container {
    height: 91vh;
}

.operate-shapely,
.operate-image {
    width: 100vw;
    height: 30vh;
}